*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    
    background-color: white;
    
}

p{
   font-size: 40px;
   font-weight: bold;
   color: white;
   
}

.gameResultContainer{
    
    max-width: 260px;
    min-height: 220px;
    border: rgb(87, 46, 46) solid 2px;
    border-radius: 20px;
    padding-left: 75px;
    background-color:  rgb(2, 59, 31);
    margin-top: -30px;
    
}


.playingBtns{
    
    font-size: 40px;
    color: white;
    border: solid 2px rgb(87, 46, 46);
    border-radius: 20px;
    background-color: rgb(2, 59, 31);
    padding: 5px;

}

.playingBtns:hover{
    
    font-size: 50px;
   
}

main {
    
    background-image: url(../Table/9999520.jpg);
    margin: 0 auto;
    max-width: 1500px;
    min-height: 900px;
    margin-top: 25px;
    border-radius: 20px;
    border: solid 5px rgb(87, 46, 46);
    
}

img{
    height: 125px;
    width: 175px;
    cursor: pointer;
    grid-column-start: 2;
}

.card {

  --card-width: 100px;
  margin-right: calc(35px - var(--card-width));
  float: left;
  width: var(--card-width);
  height: calc(var(--card-width) * 1.5);
 
}

img:hover{
    
    height: 150px;
    width:  200px;
   
}

.cards{
    
    height: 250px;
    width:  200px;
    border-radius: 20px;
    border: black 2px solid;
    
    
}

div :first-child:hover{
   
    height: 270px;
    width:  220px;
    margin-right: -100px; 
    float: left;  
 
}

.gameResultContainer:hover{
    
    min-width: 260px;
    max-height:220px;
}

.dealerCards{
    
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 270px;
    padding-top: 10px;
    padding-left: 50px;
    padding-top: 70px;
    
}

.playerCalls{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 100px;
    margin-top: 50px;
    
}

.playerCards{
    
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 270px;
    padding-left: 50px;
    
}

.chips {

    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-items: center;
    
}

ul {
    
    list-style: none;
   
}

.dealerCards  :nth-child(2) > div > img{
    
    content:url(../Cards/CardBack/backPattern.jpg);
 
}

.allIn{
   
   padding-top: 35px;
   grid-column: span 1;
}

button{
    
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin: 5px;

}

button:hover{
    
    font-size: 50px;
    
}

.dealBtn{
    
    grid-column-start: 2;
}

.playerMoney{
    
    grid-column-start: 7;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-right: 100px;
    
}

.chip{
    
    grid-column: span 1;

}

.containerPlayer{
    
    grid-column-start: 2;

}

#containerDealer{

    grid-column-start: 2;

}

.resetBet{

    cursor: pointer;

}

#resetBtn{
    
    color: white;
    border: solid rgb(87, 46, 46) 3px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 1px;
    background-color: rgb(2, 59, 31);
      
}

#resetBtn:hover{
    
    font-size: 42px;
    
}

.chipsBetContainer{
    
    margin-left: 150px;
    margin-top: 25px;
    
}


.chipsBetDisplay{
    
    display: inline-flex;
    margin-top: 25px;
    
}


.chipsBetDisplay :hover{
    
    all: unset;

}

.chipsBetDisplay :nth-child(3):hover{

    height: 125px;
    width: 175px;
    
}

.chipsBetDisplay :nth-child(2):hover{

    height: 125px;
    width: 175px;

}

.chipsBetDisplay :nth-child(1):hover{

    height: 125px;
    width: 175px;
   
}

.chipsBetDisplay :nth-child(1){

    z-index: -1;

}

.chipsBetDisplay :nth-child(2){

    margin-top: 25px;
    margin-left: -150px;
    z-index: -1;

}

.chipsBetDisplay :nth-child(3){
    
    margin-left: -150px;
    z-index: -1;
 
}

.gameEndContainer{

    min-width: 500px;
    min-height: 400px;
    border: rgb(87, 46, 46) solid 2px;
    border-radius: 20px;
    padding-left: 75px;
    background-color:  rgb(2, 59, 31);
    margin-top: -100px;
    
}


.resetBet:hover{
    
    cursor: pointer;
    
}

/* media queries- needs further improvement*/

@media screen and (max-width:1100px) {

   
    img{width: 80px;
    height: 50px;}

    img:hover{
        width: 90px;
    height: 60px;
    }

    .playingBtns, .playerMoney{font-size: 25px;}

    .playingBtns:hover{
    
    font-size: 30px;
   
}


#dealerCount{
   grid-column-start: 1;
}

    .chips{
        height: 135px;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr;
         justify-items: center;
        padding-bottom: -500px;
        margin-top: -20px;

    }

    .playerMoney{
        margin-top: 10px;
        height: 20px;
    width: 50px;
    grid-column-start: 3;
grid-row-start: 2;}

.allIn{
    margin-top: -42px;
    margin-left: -35px;
        height: 50px;
    width: 50px;
    grid-column-start: 2;
grid-row-start: 2;}

    .playerCalls{
        margin-top: 110px;
        
    }

    

    .chipsAndMoney{
        margin-bottom: -500px;
    }

.dealerCards, .playerCards{grid-template-rows: 45px;
padding-top: 10px;}

.playerCards{
    padding-top: 95px;
    padding-left: 5px;
    height: 140px;
}


.dealerCards{padding-left: 5px;
height: 80px;
padding-top: 1px;}

#dealerCount, #playerCount, #playerBet{
    font-size: 15px;
    font-weight: bold;
    
}

#playerCount{
    grid-column-start: 1;
}

#playerBet{
    padding-top: 100px;
    margin-left: 0px;
}

    main{min-height: 568px;
    margin-top: 0;}

    .cards{
    
    height: 160px;
    width:  110px;
margin-left: -30px;}

    div :first-child:hover{
   
    height: 180px;
    width:  130px;
    margin-right: -100px; 
    float: left;  
 
}

.card {

  --card-width: 10px;
  margin-right: calc(20px - var(--card-width));
  float: left;
  width: var(--card-width);
  height: calc(var(--card-width) * 1.2);
 
}

.chipsBetDisplay :nth-child(3):hover{

    height: 125px;
    width: 175px;
    
}

.chipsBetDisplay :nth-child(2):hover{

    height: 125px;
    width: 175px;

}

.chipsBetDisplay :nth-child(1):hover{

    height: 125px;
    width: 175px;
   
}

.chipsBetDisplay :nth-child(1){

    z-index: -1;
margin-top: -20px;
margin-left: -8px;
}

.chipsBetDisplay :nth-child(2){

    margin-top: -20px;
    margin-left: -90px;
    z-index: -1;

}

.chipsBetDisplay :nth-child(3){
    
    margin-left:-55px;
    z-index: -1;
 margin-top: -20px;
 
}


.gameResultContainer{
    position: absolute;
    z-index: 2;
    font-size: 30px;
    width: 100px;
    height: 5px;
    margin-left: -40px;
    margin-top:0;
    
    
    border: none;
    background-color: unset;
    
}

.gameResultContainer2{
   
    height: 150px;
    width:150px;
    margin-left: 150px;
    position: absolute;

    border: rgb(87, 46, 46) solid 2px;
    border-radius: 20px;
    
    background-color:  rgb(2, 59, 31);
    margin-left: 80px;  
    margin-top: 85px;  
}

#resetBtn{
    margin-top: -40px;
margin-left:  10px;
font-size: 35px;

}




p{font-size: 25px;}
 



.gameEndContainer{
    
    min-width:200px;
    min-height: 50px;
    padding: 10px;
    margin-right: 1000px;
    position: relative;

}
}

@media screen and (max-height: 500px){
    .cards{
        width: 100px;
        height: 120px;
    }
    .playerCards{
        margin-top: -50px;
    }

    .playerCalls{
        margin-top: -90px;
        margin-left: 340px;
     
    }

    .playingBtns{font-size: 15px;}

.playingBtns:hover{
    
    font-size: 17px;
   
}

    main{
        min-height: 320px;
    }


    #chipTwenty{
       margin-left: 350px;
    }
    #chipOneHundred{
        margin-left: -30px;
        padding-right: 0;
    }
    #chipFifty{
      margin-left: -25px;
    }

    .allIn{margin-left: -100px;}

    .playerMoney{
      
        font-size: 20px;
        padding-right: 0;
        margin-left:  -50px;
    }

  
.gameResultContainer2{
    margin-left: 200px;
    margin-top: -150px
}
   

.gameEndContainer > p{
   
  font-size: 10px;
   
}


.gameEndContainer{
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    margin-right: 150px

}

}

@media screen and (min-width: 600px) and (max-width: 800px) {
#chipTwenty{
       margin-left: 390px;
    }
    #chipOneHundred{
        margin-left:-80px;
        padding-right: 0;
    }
   
.playerMoney{
    margin-left: -100px;
}


}

